{
    "audio_augmentation":
    [
        {
            "type": "speed",
            "params": {"min_speed_rate": 0.9,
                        "max_speed_rate": 1.1},
            "prob": 0.3
        },
        {
            "type": "shift",
            "params": {"min_shift_ms": -5,
                        "max_shift_ms": 5},
            "prob": 0.3
        },
        {
            "type": "volume",
            "params": {"min_gain_dBFS": -5,
                        "max_gain_dBFS": 5},
            "prob": 0.3
        }         
    ],
    
    "spec_augmentation":
    [
        {
            "type": "freq_mask",
            "params": {"freq_F": 10,
                        "freq_num_mask": 2},
            "prob": 0.3
        },
        {
            "type": "time_mask",
            "params": {"time_T": 15,
                        "time_num_mask": 2},
            "prob": 0.3
        },
        {
            "type": "rect_mask",
            "params": {"rect_F": 10,
                        "rect_T": 15,
                        "rect_num_mask": 2},
            "prob": 0.3
        }
    ]
}
